<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/boot_strap.css">
</head>
<body>
<header>
	<nav class="mobile-nav show-on-mobiles">
		<ul>
			<li class="current">
				<a href="/">文章详情1</a>
			</li>
		</ul>
	</nav>
</header>

<h3>查看书籍</h3>


<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <a href="/book/add/" class="btn btn-primary btn-sm">添加书籍</a>
            <table class="table table-hover table-striped small">
                <thead>
                     <tr>
                         <th>名称</th>
                         <th>价格</th>
                         <th>出版日期</th>
                         <th>出版社</th>
                         <th>是否出版</th>
                         <th>操作</th>
                         <th>操作</th>
                     </tr>
                </thead>
                <tbody>
                      {% for book in book_list %}
                      <tr>
                          <td>{{ book.title }}</td>
                          <td>{{ book.price }}</td>
                          <td>{{ book.pub_date|date:"Y-m-d" }}</td>
                          <td>{{ book.publish }}</td>
                          <td>
                              {% if book.is_pub %}
                              已出版
                              {% else %}
                              未出版
                              {% endif %}
                          </td>
                          <td>
                              <a href="/book/delete/{{ book.id }}">删除</a>
                          </td>
                          <td>
                                <a href="/book/modify/{{ book.id }}">编辑</a>
                          </td>
                      </tr>
                      {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>